<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.5" targetFramework="net472" />
  <package id="AForge.Imaging" version="2.2.5" targetFramework="net472" />
  <package id="AForge.Math" version="2.2.5" targetFramework="net472" />
  <package id="AWSSDK.Core" version="3.3.103.34" targetFramework="net472" />
  <package id="AWSSDK.S3" version="3.3.104.22" targetFramework="net472" />
  <package id="CommonServiceLocator" version="2.0.2" targetFramework="net472" />
  <package id="Google.Protobuf" version="3.11.4" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.6.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Ini" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.UI.Xaml" version="2.8.4" targetFramework="net472" />
  <package id="Microsoft.Web.WebView2" version="1.0.1264.42" targetFramework="net472" />
  <package id="Microsoft.Win32.Registry" version="4.4.0" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net472" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="NLog" version="4.5.11" targetFramework="net472" />
  <package id="OxyPlot.Core" version="1.0.0" targetFramework="net472" />
  <package id="OxyPlot.Wpf" version="1.0.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Drawing.Common" version="4.5.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Resources.Extensions" version="5.0.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="4.4.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="4.4.0" targetFramework="net472" />
  <package id="System.ServiceProcess.ServiceController" version="4.4.0" targetFramework="net472" />
  <package id="System.Threading.AccessControl" version="4.4.0" targetFramework="net472" />
  <package id="ViDi.NET" version="6.1.1.26213" targetFramework="net472" />
  <package id="ViDi.NET.Base" version="6.1.1.26213" targetFramework="net472" />
  <package id="ViDi.NET.Common" version="6.1.1.26213" targetFramework="net472" />
  <package id="ViDi.NET.Data" version="6.1.1.26213" targetFramework="net472" />
  <package id="ViDi.NET.Extensions" version="6.1.1.26213" targetFramework="net472" />
  <package id="ViDi.NET.Interfaces" version="6.1.1.26213" targetFramework="net472" />
  <package id="ViDi.NET.Local" version="6.1.1.26213" targetFramework="net472" />
  <package id="ViDi.NET.Logging" version="6.1.1.26213" targetFramework="net472" />
  <package id="ViDi.NET.Training.UI" version="6.1.1.26213" targetFramework="net472" />
  <package id="ViDi.NET.Training.UI.Interfaces" version="6.1.1.26213" targetFramework="net472" />
  <package id="ViDi.NET.UI" version="6.1.1.26213" targetFramework="net472" />
  <package id="ViDi.NET.UI.Extensions" version="6.1.1.26213" targetFramework="net472" />
  <package id="ViDi.NET.UI.Interfaces" version="6.1.1.26213" targetFramework="net472" />
  <package id="Wibu.CodeMeter.WibuCmNET" version="7.0.3933.502" targetFramework="net472" />
</packages>